<a href="https://colab.research.google.com/github/htoohtoo99/MMDT_T-PY101_Batch03/blob/main/HtooHtooAungKhine/Ex02_datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ex 1 : Check the lenght of the string "My name is python"

In [11]:
name="My name is python"
print("Length of the string is",len(name))

Length of the string is 17

Ex 2: Check the number of times "python" (regardless of cases: PYTHON, python, Python" appears in the paragraph : "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."

In [21]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
print("The number of times of python is ",s.upper().count("PYTHON"))

The number of times of python is  2

Ex 3: Combine two lists : ls1 = ["apple", "banana", "cherry"] and ls2 = ["apple", "banana", "cherry", "apple", "cherry"]. Print the number of elements in new list.

In [25]:
ls1=["apple", "banana", "cherry"]
ls2=["apple", "banana", "cherry", "apple", "cherry"]
new_ls=ls1+ls2
print("The number of elements in new list is",len(new_ls))

The number of elements in new list is 8

Ex 4: Create a dictionary for the following table:

| Name | Age |
| --- | --- |
| Myo | 32 |
| Thida | 64 |

In [26]:
my_dict={"Name":["Myo","Thida"],"Age":[32,64]}

Ex 5: Combine two sets and print the combined set and its length.
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}

In [27]:
set1 = {"Name", "age", "Height"}
set2 = {"Name", "status", "Education"}
combine_set=set1.union(set2)
print("Combined set:",combine_set)

Combined set: {'age', 'Name', 'Height', 'status', 'Education'}

Ex 6: Write a program that asks the user to enter a string. The program should create a new string called new_string from the user's string such that the second character is changed to an asterisk and three exclamation points are attached to the end of the string. Finally, print new_string.

In [28]:
my_string=input("Enter your string:")
new_string=my_string[0] + "*" + my_string[2:] + "!!!"
print("New string is",new_string)

Enter your string:Htoo
New string is H*oo!!!

Ex 7: Write a program that converts the given string 's' to lowercase, removes all Punctuation marks such as period, hyphen, and commas from 's', and prints the resulting string.

In [37]:
s = "Floating-point values in Python are always done in double precision; hence, Python float types correspond to doubles in a C-like language."
s=s.lower()
s=s.replace("-","")
s=s.replace(";","")
s=s.replace(",","")

print(s)

floatingpoint values in python are always done in double precision hence python float types correspond to doubles in a clike language.

Ex 8: L1 and L2 should be identical. Write a program that finds the missing number in L2.

In [46]:
from random import randint
L1 = list(range(1,101))
L2 = L1.copy()
L2.remove(randint(1,101))
missing_number=sum(L1)-sum(L2)
print("Missing number is in L2 is",missing_number)

Missing number is in L2 is 85

Ex 9: Write a program to copy the ls1 = ["apple", "banana", "cherry"] to a new list. Add the element "blueberry" to the new list, but keep the original list the same.

In [59]:
ls1 = ["apple", "banana", "cherry"]
ls2=ls1.copy()
ls2.append("blueberry")
print("New list is:",ls2)

New list is: ['apple', 'banana', 'cherry', 'blueberry']