<a href="https://colab.research.google.com/github/htoohtoo99/MMDT_T-PY101_Batch03/blob/main/HtooHtooAungKhine/Ex05_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercises are taken from : https://www.brianheinold.net/python/A_Practical_Introduction_to_Python_Programming_Heinold.pdf

Ex 1: Write a function called rectangle that takes two integers m and n as arguments and prints
out an m× n box consisting of asterisks. Shown below is the output of rectangle(2,4)
****
****

In [18]:
def rectangle(m,n):
    for k in range(m):
        print(n*'*')

rectangle(2,4)

****
****

Ex 2: Write a function that takes an integer n and returns a random integer with exactly n digits. For
instance, if n is 3, then 125 and 593 would be valid return values, but 093 would not because
that is really 93, which is a two-digit number.

In [3]:
import random
def calcualte_numbers ( n ):
    result = random.randint(10**(n-1) , 10**(n)-1)


    return result

calcualte_numbers(3)

400

Ex 3: Write a function called number_of_factors that takes an integer and returns how many
factors the number has.

In [10]:
def number_of_factors(n):
  count=0

  for i in range(1,n+1):
   if n % i== 0:
    count +=1
  return count

number_of_factors(10)

4

Ex4: Write a function called first_diff that is given two strings and returns the first location in
which the strings differ. If the strings are identical, it should return -1.Ignore the case in your function. It means h and H are the same.

In [13]:
def first_diff(str1, str2):

    str1 = str1.lower()
    str2 = str2.lower()
    min_len = min(len(str1), len(str2))

    for i in range(min_len):
        if str1[i] != str2[i]:
            return i

    if len(str1) != len(str2):
        return min_len

    return -1

first_diff("Hello", "hello")

-1

Ex5: Write a function called root that is given a number x and an integer n and returns x/n. In
the function definition, set the default value of n to 2.

In [14]:
def root(x, n=2):
    return x / n

root(5,8)

0.625

Ex6: Write a function that solves the system of equations ax + by = e and cx +dy = f. Your function should takes 6 parameters, (a, b, c, d, e,f) and return the values of x and y.

In [19]:
def solve_system(a, b, c, d, e, f):
    denominator = a*d - b*c
    if denominator == 0:
        return None

    x = (e*d - b*f) / denominator
    y = (a*f - e*c) / denominator
    return x, y
solve_system(4, 2, 1, 2, 8, 6)

(0.6666666666666666, 2.6666666666666665)

Ex7:  Write a function called change_case that given a string, returns a string with each upper  case letter replaced by a lower case letter and vice-versa

In [20]:
def change_case(c):
    result = ""
    for char in c:
        if char.isupper():
            result += char.lower()
        elif char.islower():
            result += char.upper()
        else:
            result += char
    return result

change_case("Hello Htoo")

'hELLO hTOO'

Ex8:  Write a function called primes that is given a number n and returns a list of the first n  primes. Let the default value of n be 100.

In [26]:
def primes(n=100):
    prime_list = []
    num = 2  # start from the first prime number

    while len(prime_list) < n:
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                break
        else:

            prime_list.append(num)
        num += 1

    return prime_list

primes(5)

[2, 3, 5, 7, 11]

Ex9: A Tic-tac-toe board can be represented be a 3×3 two-dimensional list, where zeroes stand for  empty cells, ones stand for X’s and twos stand for O’s. Write a function that is given such a list and randomly chooses a spot in which to place  a 2 (O). The spot chosen must currently be empty and a spot must be chosen.

In [36]:
import random

def place_O(board):

    empty_spots = []
    for i in range(3):
        for j in range(3):
            if board[i][j] == 0:
                empty_spots.append((i, j))


    if empty_spots:
        i, j = random.choice(empty_spots)
        board[i][j] = 2

    return board

board = [
    [0, 0, 2],
    [0, 1, 0],
    [2, 0, 1]
]

new_board = place_O(board)
for row in new_board:
  print(row)

[0, 0, 2]
[0, 1, 2]
[2, 0, 1]

Ex10:  Write a function that is given a 9 × 9 potentially solved Sudoku and returns True if it is solved correctly and False if there is a mistake. The Sudoku is correctly solved if there are no repeated numbers in any row or any column or in any of the nine “blocks.”

In [37]:
def is_sudoku_solved(board):

    for row in board:
        seen = []
        for num in row:
            if num in seen:
                return False
            seen.append(num)


    for col in range(9):
        seen = []
        for row in range(9):
            num = board[row][col]
            if num in seen:
                return False
            seen.append(num)


    for block_row in range(0, 9, 3):
        for block_col in range(0, 9, 3):
            seen = []
            for i in range(3):
                for j in range(3):
                    num = board[block_row + i][block_col + j]
                    if num in seen:
                        return False
                    seen.append(num)

    return True

sudoku_board = [
    [5, 3, 4, 6, 7, 8, 9, 1, 2],
    [6, 7, 2, 1, 9, 5, 3, 4, 8],
    [1, 9, 8, 3, 4, 2, 5, 6, 7],
    [8, 5, 9, 7, 6, 1, 4, 2, 3],
    [4, 2, 6, 8, 5, 3, 7, 9, 1],
    [7, 1, 3, 9, 2, 4, 8, 5, 6],
    [9, 6, 1, 5, 3, 7, 2, 8, 4],
    [2, 8, 7, 4, 1, 9, 6, 3, 5],
    [3, 4, 5, 2, 8, 6, 1, 7, 9]
]
is_sudoku_solved(sudoku_board)

True